.scroll-button{
  cursor: pointer;
  padding: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  border: none;
  background: lightblue;
}
.example-wrapper{
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top:100px;
  width: 400px;
  height: 300px;
  background: #e6e6e6;
}